In [34]:
a = 1
A = 2

In [35]:
a,A

(1, 2)

In [36]:
_ = 5

In [37]:
_

5

# 여기 설명란

In [38]:
# 문자열 곱하기
star = "*"
star*10

'**********'

In [39]:
min_data = "001122-1234567" # 0부터 Index 시작
gender = min_data[7]
gender

'1'

In [40]:
year = min_data[0:2]
year

'00'

In [41]:
date = min_data[2:6]
date

'1122'

In [42]:
data1 = min_data[:2]
data1

'00'

In [43]:
data2 = min_data[5:]
data2

'2-1234567'

# 문자열 포맷팅

In [19]:
name = "홍길동"
age = 30
text = "이름 %s, 나이 %d "%(name, age)
text

'이름 홍길동, 나이 30 '

In [20]:
text = "이름 : {}, 나이 : {}".format(name,age)
text

'이름 : 홍길동, 나이 : 30'

In [21]:
text = f"이름 : {name}, 나이 : {age}"
text

'이름 : 홍길동, 나이 : 30'

# 공백 제거

In [47]:
text = "    python    "
print(text.strip())
print(text.lstrip()) # 
print(text.rstrip()) # shift + alt + 아래키 한 줄 복사

python
python
    python

In [48]:
#대소문자 변환
a = 'i love you'
b = a.upper()

In [49]:
b.lower(), b.upper()

('i love you', 'I LOVE YOU')

In [50]:
len(min_data)

14

In [51]:
#글자 바꾸기
text = "I LOVE you"
text2 = text.replace("LOVE", "hate")
text2

'I hate you'

In [52]:
# 글자 갯수 구하기
text = "I love love love you"
number = text.count("love")
print(f" 나는 {number*1000} 만큼 사랑해")

 나는 3000 만큼 사랑해

# 리스트

In [53]:
data = [1,2,3,4,5,6]
data

[1, 2, 3, 4, 5, 6]

In [54]:
data1 = ["1",1,"hello",[1,2,3]]
data1

['1', 1, 'hello', [1, 2, 3]]

In [55]:
data1[1:3] # Index가 1부터 인덱스 3-1 = 2 까지 요소를 리스트로 반환

[1, 'hello']

In [56]:
data1[2]="Hi"
data1

['1', 1, 'Hi', [1, 2, 3]]

In [57]:
del data1[2]
data1

['1', 1, [1, 2, 3]]

## 리스트 연산

In [58]:
data*2

[1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6]

In [59]:
data = [1,2,3,4]
data.append(5)
data

[1, 2, 3, 4, 5]

In [60]:
data = [5,4,3,2,1]
print(data)
data.sort()
print(data)

[5, 4, 3, 2, 1]
[1, 2, 3, 4, 5]

In [61]:
data = [1,2,3,4]
data1 = ['A','B','C']
data.extend(data1)
data

[1, 2, 3, 4, 'A', 'B', 'C']

In [62]:
a=('A','B','C')
type(a)

tuple

In [63]:
a[0] = 0

TypeError: 'tuple' object does not support item assignment

In [ ]:
a*3

('A', 'B', 'C', 'A', 'B', 'C', 'A', 'B', 'C')

# 딕셔너리 만들기

In [ ]:
dics = {}
dics["콜라"] = 1500
dics['사이다'] = 1400
dics

{'콜라': 1500, '사이다': 1400}

In [ ]:
dic = {'콜라' : 1500, '사이다': 1400}
dic

{'콜라': 1500, '사이다': 1400}

In [ ]:
del dic['콜라']
dic

{'사이다': 1400}

In [ ]:
dic['사이다'] = 1600
dic

{'사이다': 1600}

### 딕셔너리 많이 사용하는 함수
- key
- items
- values<br><br><br>

- get
- clear

In [ ]:
dics

{'콜라': 1500, '사이다': 1400}

In [ ]:
dics.items()

dict_items([('콜라', 1500), ('사이다', 1400)])

In [ ]:
dics.keys()

dict_keys(['콜라', '사이다'])

In [ ]:
dics.values()

dict_values([1500, 1400])

In [ ]:
dics.get("콜라")

1500

In [ ]:
dics["콜라"]

1500

In [ ]:
dics.clear()

In [ ]:
dics

{}

### 집합 자료형
- 교집합, 차집합, 합집합

In [ ]:
# 교집합
data = set([1,1,1,2,3,4])
data

{1, 2, 3, 4}

In [ ]:
data.add(5)
data

{1, 2, 3, 4, 5}

In [ ]:
data.add(5)
data

{1, 2, 3, 4, 5}

In [ ]:
# 중복처리 중복 아닌 것 추가
data.update([4,5,6])
data

{1, 2, 3, 4, 5, 6}

In [ ]:
data.remove(1)
data

{2, 3, 4, 5, 6}

### 불 자료형

In [ ]:
True, False

(True, False)

In [ ]:
10>20

False

### 제어문
- if
- while(반복문)
- for(리스트, 튜플, 딕셔너리 -> 시퀀스 요소 반복할 때))

In [ ]:
name = "홍길동"
age = 35
if  age >= 30:
    print("30대 이상")
elif age>=20:
    print("20대")
else:
    print("30대 X")

30대 이상

In [ ]:
name_list = ["홍길동","철수","짱구"]
name = "짱구"
if name in name_list:
    print("네임리스트에 있다")

네임리스트에 있다

In [ ]:
name = "짱구"
age = 28
if age>=20:
    if name == "짱구":
        print("본인 O")

본인 O

In [ ]:
# 들여쓰기 Shift + Tab // Tab
if age>=20:
    print("20대 이상")
print("들여쓰기 X")

20대 이상
들여쓰기 X

### 반복문

In [ ]:
count = 0
while count < 10:
    print("반복문 출력중      count =",count)
    count += 1

반복문 출력중      count = 0
반복문 출력중      count = 1
반복문 출력중      count = 2
반복문 출력중      count = 3
반복문 출력중      count = 4
반복문 출력중      count = 5
반복문 출력중      count = 6
반복문 출력중      count = 7
반복문 출력중      count = 8
반복문 출력중      count = 9

In [ ]:
# continue 사용
# count = 0
# while count <10:
#     if count%2 == 0:
#         continue
#     print("반복문 출력중      count =",count)
#     count +=1
# 위에 코드는 무한루프
# continue 사용
count = 0
while count <10:
    count +=1
    if count%2 == 0:
        continue
    print("반복문 출력중      count =",count)

반복문 출력중      count = 1
반복문 출력중      count = 3
반복문 출력중      count = 5
반복문 출력중      count = 7
반복문 출력중      count = 9

In [ ]:
count = 0
while True:
    count +=1
    if count == 10:
        break
    if count % 2 == 0:
        continue
    print("반복문 출력중      count =",count)

반복문 출력중      count = 1
반복문 출력중      count = 3
반복문 출력중      count = 5
반복문 출력중      count = 7
반복문 출력중      count = 9

### for문 반복

In [ ]:
data = [1,2,3,4,5,6,7,8,9]
for item in data:
    print(item)

1
2
3
4
5
6
7
8
9

In [ ]:
data = [1,2,3,4,5,6,7,8,9]
data2 = []
for item in data:
    data2.append(item**2)
data2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

### Range 함수

In [ ]:
# range 함수
data = list(range(1,9))
data

[1, 2, 3, 4, 5, 6, 7, 8]

In [ ]:
# range 함수 range(시작, 끝, 간격)
data = list(range(1,9,2))
data

[1, 3, 5, 7]

In [ ]:
# range 함수 range(시작, 끝, 간격)
data = list(range(9,0,-1))
data

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
for i in range(5):
    print(i)

0
1
2
3
4

### enumerate

In [ ]:
data = ["A","B","C","D","E"]
for i in enumerate(data):
    print(i)

0 A
1 B
2 C
3 D
4 E

In [ ]:
data = ["A","B","C","D","E"]
for idx, value in enumerate(data):
    print(idx, value)

0 A
1 B
2 C
3 D
4 E

In [ ]:
for i in range(len(data)):
    print(i,data[i])

0 A
1 B
2 C
3 D
4 E

### 리스트 컴프리핸드

In [ ]:
data = list(range(0,9))
data2 = [item*2 for item in data]
# print(data)
# data2 = []
# for item in data:
#     data2.append(item**2)
data2

[0, 2, 4, 6, 8, 10, 12, 14, 16]

In [ ]:
data3 =[i for i in data if i %3 == 0]
data3

[0, 3, 6]

In [ ]:
data3 = []
for i in data:
    if i%3 == 0:
        data3.append(i)
data3

[0, 3, 6]

In [ ]:
data3 =[i if i%3 == 0 else i*2 for i in data]
data3

[0, 2, 4, 3, 8, 10, 6, 14, 16]

### 예외처리
- 오류 발생했을 때 처리해야 할 수 있다
- if else 처리가 안되거나 예기치 못할 때

In [ ]:
a = "ABC"
b = 123
print(a+b)

TypeError: can only concatenate str (not "int") to str

In [ ]:
data = ["A","B","C"]
while 1:
    try:
        print(data.pop())
    except:
        break

C
B
A

### 함수 만들어보기

In [ ]:
def custom_sum(a,b):
    print((a+b)**2)

In [ ]:
temp = custom_sum(5,2)
print("temp : ", temp)

49
temp :  None

In [ ]:
def custom_sum2(a,b):
    return (a+b)**2

In [ ]:
temp2 = custom_sum(5,2)
print("temp : ", temp2)

49
temp :  None

In [ ]:
# 조심해야 될 것
temp = 120
def error_print():
    temp = 150
    print(temp)

In [ ]:
print(temp)

120

In [ ]:
temp = 120
def error_print():
    global temp # global : 변수를 갖고올 수 있음
    temp += 30
    print(temp)

In [ ]:
error_print()

150

### 함수에서 매개변수 처리

In [ ]:
def user_info(name, age):
    print(f"이름 : {name}, 나이 : {age}" )

In [ ]:
user_info("김정완", 24)

이름 : 김정완, 나이 : 24

In [ ]:
def user_info(name, age, *args):
    print(f"이름 : {name}, 나이 : {age}")
    print(args)

In [ ]:
user_info("김정완", 24, "창동", "축구")

이름 : 김정완, 나이 : 24
('창동', '축구')

In [ ]:
def user_info(name, age, **kwargs):
    print(f"이름 : {name}, 나이 : {age}")
    print(kwargs)

In [ ]:
user_info("김정완", 24, space = "서울", hobby = "축구")

이름 : 김정완, 나이 : 24
{'space': '서울', 'hobby': '축구'}

In [ ]:
def user_info(name, age, *args):
    print(f"이름 : {name}, 나이 : {age}")
    print(args)

In [ ]:
user_info("김정완", 24)

이름 : 김정완, 나이 : 24
()

### lambda

In [ ]:
b = lambda name : print(f"{name} 님 ㅎㅇ")

In [ ]:
def b_func(name):
    return print(f"{name}님 ㅎㅇ")

In [ ]:
b_func("정완")

정완님 ㅎㅇ

### Input, Print

In [ ]:
name, age = input().split()

In [ ]:
print(name, age)

김정완 24

In [ ]:
name = "김정완"
age = 24
phone = "010-1234-5678"
print(name,age,phone,sep="/")

김정완/24/010-1234-5678

In [ ]:
print(name, end=" ")
print(age, end=" ")
print(phone, end=" ")

김정완 24 010-1234-5678

### 파일 가져오기

In [ ]:
 #쓰기모드, 읽기모드, 추가모드
name_list = ['김철수', "홍길동", "파이썬"]
file = open("temp.txt", "w", encoding= "utf-8=sig") #쓰기모드

In [ ]:
for name in name_list:
    file.write(name + "\n")
file.close()

In [ ]:
with open("temp.txt","r", encoding="utf-8") as file:
    data = file.read() #읽기모드  read/readline/readlines
    print(data)

가나다
라마바
사아자

In [ ]:
with open("temp.txt","r", encoding="utf-8") as file:
    data = file.readlines()
    print(data)

['가나다\n', '라마바\n', '사아자']

In [ ]:
with open("temp.txt","r", encoding="utf-8") as file:
    while 1:
        data = file.readline().strip()
        if data == "":
            break
        print(data)

가나다
라마바
사아자

In [ ]:
with open("temp.txt","a", encoding="utf-8") as file:
    data = file.write("짱이다"+"\n")

### 초기값 입력 클래스

In [ ]:
class userDataInit_1:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.email = "미지정"
    def get_info(self):
        print(self.name)
        print(self.age)
        print(self.email)

In [ ]:
user = userDataInit_1("김정완", 24)
user.get_info()

김정완
24
미지정

### ★★★클래스 상속★★★

In [ ]:
class userDataInit_1:
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.email = "미지정"
    def get_info(self):
        for data in self.__dict__.items():
            print(data)
        # print(self.name)
        # print(self.age)
        # print(self.email)

In [ ]:
class UserDataChild(userDataInit_1):
    def add_info(self, password):
        self.password = password

In [ ]:
child = UserDataChild("김정완", 24)
child.get_info()

('name', '김정완')
('age', 24)
('email', '미지정')

In [ ]:
child.add_info("1234")
child.get_info()

('name', '김정완')
('age', 24)
('email', '미지정')
('password', '1234')

### Module 불러오기

In [68]:
import identity_util #파일 명

In [69]:
identity_util.user_age(24)

2000

In [70]:
identity_util.user_gender("121314-3920354")

'남성'

In [12]:
import identity_util as idu

In [13]:
idu.user_age(24)

2000

In [14]:
from identity_util import user_age, user_gender

In [15]:
user_age(24)

2000

In [1]:
import numpy