### 001

In [5]:
myName = "홍길동"
myName

'홍길동'

### 002

In [6]:
myAge = 20
myAge

20

### 003

In [7]:
myHeight = 175
myWeight = 70
print(myHeight,myWeight)

175 70

### 004

In [14]:
국어 = 77
영어 = 88
수학 = 81
국사 = 63
과학 = 97

print("국어,영어,수학 =",국어,영어,수학)
print("국사 =", 국사)
print("과학 =", 과학)

국어,영어,수학 = 77 88 81
국사 = 63
과학 = 97

### 005

In [15]:
total = 국어+영어+수학+국사+과학
print(total)

406

### 006

In [20]:
avg = total/5
print(avg)

81.2

### 007

In [18]:
type(avg)

float

### 008

In [2]:
myAge = '20'
type("myAge")

str

### 009

In [21]:
avg = 81.2
avg = "81.2"
type(avg)

str

### 010

In [25]:
myName = '홍길동'
myAge = '20'
print(f"{myName} {myAge}세")

홍길동 20세

### 011

In [26]:
A = '총합:'
B = total
print(f"{A}{B}")

총합:406

### 012

In [33]:
A, B = 3, 8
print(A+B)
print(B-A)
print(A*B)
print(A**8)
print(A/B)
print(B-2*A)
print(A)

11
5
24
6561
0.375
2
3

### 013

### 014

In [36]:
print('"따옴표를 출력해주세요"')

"따옴표를 출력해주세요"

### 015

In [38]:
text = "1번째 줄 \n" "2번째 줄"
print(text)

1번째 줄
2번째 줄

### 016

In [59]:
print('"다음은 문자열 안에서 줄을 바꿀 때 사용합니다. \\n"\n'   "'다음 문자는 문자열 사이에 탭 간격을 줄 때 사용합니다. \\t'")

"다음은 문자열 안에서 줄을 바꿀 때 사용합니다. \n"
'다음 문자는 문자열 사이에 탭 간격을 줄 때 사용합니다. \t'

### 017

In [61]:
print("*"*50)
print("I Love PYTHON")
print("*"*50)

**************************************************
I Love PYTHON
**************************************************

### 018

In [66]:
print("*"*6)
print("*    *")
print("*    *")
print("*"*6)

******
*    *
*    *
******

### 019

In [67]:
A = "PYTHON"
print(A[0])

P

### 020

In [72]:
A = "I LOVE PYTHON"
print(A[2])
print(A[7])

L
P

### 021

In [75]:
A = "I LOVE PYTHON"
print(A[2:6])

LOVE

### 022

In [76]:
A = "I LOVE PYTHON"
print(A[-6:])

PYTHON

### 023

In [80]:
A = "I LOVE PYTHON"
print(A[:2] + "WANT" + A[-7:])
# I WANT PYTHON

I WANT PYTHON

### 024

In [83]:
A = "PYSON"
A = A.replace("S","TH")
print(A)

PYTHON

### 025

In [85]:
print("이름: %s" %"홍길동")
print("나이: %d" %20)

이름: 홍길동
나이: 20

### 026

In [92]:
print(" I studied for %d hours to do %s." %(2, "python"))

 I studied for 2 hours to do python.

### 027

In [117]:
percent = 25
print("%d %s|■ ■ ■              |" %(percent, "%"))

25 %|■ ■ ■               |

### 028

In [125]:
percent, progressBar = 50, "|■ ■ ■ ■ ■"
progressBar = "|■ ■ ■ ■ ■"
print("%d%s%s          |" %(percent,"%", progressBar))

50%|■ ■ ■ ■ ■          |

### 029

In [127]:
A = "python"
B = "love"
print(f"I {B} {A}.")

I love python.

### 030

In [131]:
A = "python"
B = "love"
print("I {} {}.".format(B,A))

I love python.

### 031

In [134]:
print("I {second} {first}.".format(first = "python", second = "love"))

I love python.

### 032

In [144]:
print('{}%'.format(0.125*100))

12.5%

### 033

In [160]:
print("""
    {_star}
                    {_text}
    {_star}
      """.format(_star="*"*50, _text = "I LOVE PYTHON"))

    **************************************************
                    I LOVE PYTHON
    **************************************************

### 034

In [162]:
text = """
**************************************************
                 I LOVE PYTHON
**************************************************
"""
text = text.replace("*", "#")
print(text)

##################################################
                 I LOVE PYTHON
##################################################

### 035

In [5]:
text = """
**************************************************
                 I LOVE PYTHON
**************************************************
"""
text.strip("*")
print(text)

**************************************************
                 I LOVE PYTHON
**************************************************