#### 퀴즈 7개

### numpy - 2문제

#### 1. 평균과 중앙값, 표준편차
- 임의의 1차원 두 배열을 생성 후, 각 배열의 평균, 중앙값, 표준편차, 
- 그리고 두 배열을 합친 후 전체 평균, 표준편차를 구해보세요

### 2. search 문제
- arr = np.array([1, 2, 2, 3, 3, 4, 5]) 이 배열의 고유한 값을 출력하려면 어떻게 해야 할지
- 구글링해봅시다.

### pandas - 3문제

1. 조건으로 필터링
- 나이가 30세 이상인 사람들만 선택하는 Pandas DataFrame 필터링 
```python
df = pd.DataFrame({
    '나이': [25, 30, 35],
    '이름': ['철수', '영희', '민수']
})

In [9]:
import pandas as df
df = pd.DataFrame({
    '나이': [25, 30, 35],
    '이름': ['철수', '영희', '민수']
})
df

   나이  이름
0  25  철수
1  30  영희
2  35  민수

In [10]:
df[df["나이"] >= 30]

   나이  이름
1  30  영희
2  35  민수

2. 여러 조건으로 필터링 하기 
- 나이가 25세 이상이고 키가 160cm 이상인 사람들만 선택하는 DataFrame 필터링
```python
df = pd.DataFrame({
    '나이': [25, 20, 35],
    '이름': ['철수', '영희', '민수'],
    '키': [175, 155, 180]
})

3. 누락된 값을 특정값으로 채우기
다음 데이터의 결측치를 채워주세요
```python
df = pd.DataFrame({
    '이름': ['철수', '영희', '민수', '지은', '수진'],
    '나이': [24, np.nan, 30, np.nan, 22],
    '도시': ['서울', '부산', np.nan, '대구', np.nan]
})